name: Build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: pnpm i
      - name: build
        run: pnpm build:types
      - name: test
        id: test
        if: ${{ always() }}
        run: pnpm test
      - name: lint
        if: ${{ always() }}
        run: pnpm lint
      - name: style
        if: ${{ always() }}
        run: pnpm format:check
  codecov: # Send only a single coverage report per run
    needs: [build]
    timeout-minutes: 15
    env:
      CI: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: pnpm i
      - name: test
        run: pnpm test:coverage
      - name: codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  knip-report:
    if: ${{ github.event_name == 'pull_request' }}
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: pnpm i
      - uses: codex-/knip-reporter@v2
